body{
    background: rgb(0, 58, 128);
    font-family: 'Courier New', Courier, monospace;
}
.wordpress-a{
    color: white;
    text-decoration: none;
}
h1{
    color: white;
    text-align: center;
    font-size: 2.25em;
    text-transform: uppercase;
}
.header-nav ul{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
@media screen and (min-width: 768px){
    .header-nav ul{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        
    }
}


.header-nav ul li{
    list-style: none;
    margin: .5em;
    
}
.header-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    
}
.header-nav ul li a:hover{
    color: red;
    transition: ease-in-out .5s;
    
}
h3{
    text-align: center;
    color:white;
    font-size: 1em;
}
p{
    text-align: center;
    color:white;
}
/* front page */

.wp-block-column p a{
    color:white;
}
/* footer */
.footer-nav ul{
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer-nav ul li{
    list-style: none;
    margin: .5em;
    
}
.footer-nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    
}
.footer-nav ul li a:hover{
    color: red;
    transition: ease-in-out .5s;
    
}
.size-large{
    display: flex;
    width:100%;
}
.wp-image-46{
    margin: 0 auto;
}

/* widgets/ sidebars */

.sidebar{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
@media screen and (min-width: 768px){
    #sidebar-secondary{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}
}

.wp-block-social-links{
    justify-content:  center !important; 
}


/* blog --> home */
.has-sidebar{
    margin:2rem;
    text-align: center;
}

/* single blog post */
.blog-div{
    margin:2rem;
}
.reg-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
@media screen and (min-width: 768px){
    .reg-sidebar{
        flex-direction: row;
    }
}

@media screen and (min-width: 768px){
    .blog-div{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 6rem;
    }
    
}
h3{
    font-size: 2rem;
    text-align: center;
}


/* CPT's */
.cpt-header{
    text-align: center;
    color: white;
    font-size:3rem;
}

/* services */
.price-label{
    font-weight: bold;
    font-size: 2rem;
}
.price{
    font-size: 2rem;
}
.service-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
}
@media screen and (min-width: 768px){
    .service-list{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }
}

.service-list li,
.team-list li{
    list-style: none;
}
.service-list li a,
.team-list li a{
    text-decoration: none;
    color:white;
    /* white-space: nowrap;
    overflow: hidden; */
    text-overflow: ellipsis;
}
.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
@media screen and (min-width: 768px){
    .service-container{
        display: flex;
        /* align-items: center; */
        flex-direction: row;
        align-items: flex-start;
    }
}
.service-div{
    width: 100%;
}
@media screen and (min-width: 768px){
    .service-div{
        width: 80%;
    }
}

/* team-members */
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px){
    .container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
.team-list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px){
    .team-list{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color:rgb(83, 233, 41);
    transition: .5s ease-in-out;
}

